@font-face {
    font-family: 'BogartBold';
    src: local('BogartBold'), url('../assets/fonts/BOGARTBOLDTRIAL.TTF') format('truetype');
}
@font-face {
    font-family: 'BogartRegular';
    src: local('BogartRegular'), url('../assets/fonts/BOGARTREGULARTRIAL.TTF') format('truetype');
}

.carouselContainer{
    position: absolute;
    padding: 0;
    width: 100%
}

.servicesMenuContainer{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    padding-top: 0;
    width: 50%;
    min-width: max-content;
    
}
.menuTittle{

    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 30%;
}
.servicesMenuFooter{
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.servicesMenuFooter .linkCard{
    flex: 1 1 50%;
    text-align: center;
    font-weight: bold;
}

.servicesMenuFooter div{
    padding-left: 1rem;
}

.menuTittle h1{
    color: white;
    font-family: 'BogartBold', sans-serif;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
}

.menuTittle h2{
    color: white;
    font-family: 'BogartRegular', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    
}
.servicesMenuHead{
    display: flex;
    text-align: left;
    align-items: center;
    background-color: rgb(235, 232, 228);
    padding:  0.5rem;
}
.servicesMenuHead h6{
    padding-right: 1rem;

}
.servicesMenuHead div input{
    border: 2px solid rgba(0, 0, 0, 0.2);
    transform: scale(1.5);
}

.my-custom-checkbox:hover:checked{
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.my-custom-checkbox:focus,
.my-custom-checkbox:hover{
    
    border-color: rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7) !important;
}
.my-custom-checkbox:checked {
    background-color: #00000080 !important;
    border: 2px solid #00000080 !important;

}
.servicesMenuBody{
    background-color: white;
}

.servicesMenuBody p{
    margin: 0;
    background-color: white;

}

.hContainer{
    background-color: white;
    display: flex;
    padding: 0.3rem;   
}
.marginTop{
    margin-top: 8px;
}


.hContainer .hContainerTittle1{
    flex: auto;
}

.hContainer .hContainerTittle2{
    width: 40%;
}
.hContainerTittle3{
    width: 65%;
}

.serviceContainer,
.sizeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviceCardContainer,
.sizeCardContainer{
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 2px;
    border-radius: 0.3rem;
    flex: 1 1 0%;
    justify-content: center;
    max-width: 19%;
}

.sizeCardContainer{
    max-width: 13%;
}

.serviceCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.sizeCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.serviceCard svg{
    height: 1.5rem;
    width: 1.5rem;
    fill: rgba(0, 0, 0, 0.5);
}

.serviceCard div{
    color: rgba(0, 0, 0, 0.5);
}

.inputContainer{
    display: flex;
    width: 100%;
    
}

.inputContainer input{
    padding: 0.2rem;
    border-radius: 0.2rem;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0.15rem;
    height: 40px;
    width: 250px;
    text-align: center;

}

.inputContainer .addressContainer input{
    text-align: left;
}


.inputContainer svg{
    top: 10%;
    left: 4px;
}

.inputContainer .dateInput::placeholder{
    
    text-align: left;
    padding-left: 2.1rem;
}
.addressContainer{
    padding-right: 2.5rem;
     
}

.dateContainer{
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: flex-end; 
}

.dropContainer{
    padding-right: 0.7rem;
    
}

.pickContainer{
    padding-left: 0.7rem;
}

.serviceCardContainer:hover,
.serviceCardContainer.clicked,
.sizeCardContainer:hover,
.sizeCardContainer.clicked{
    box-shadow: black 0px 0px 0px 2px;

    .serviceCard svg{
        fill: black;
    }
    .serviceCard div,
    .sizeCard div{
        color: black;
    }
}

.buttonContainer{
    padding-left: 0.5rem;
}

.searchButton{
    background-color: #61DAFB;
    border-color: #61DAFB;
    border-radius: 1rem;
    width: 300px;
    height: 60px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    
}



@media (max-width: 1460px) {
    .menuTittle {
        width: 50%;
    }
    .servicesMenuContainer{
        width: 70%;
    }
}